@model Team

@{
    ViewData["Title"] = "Team";
}

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamer</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/equipes.css">
</head>

@if (ViewBag.UserName == null)
{
}
else
{
<main>

        <section class="container-grid cadastro-equipes">
            
            
            <form method="post" action='@Url.Action("Register")' enctype="multipart/form-data" class="frm-cad-equipe">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Equipes</h1>
                    <hr>
                </div>

                <input class="campo-entrada" type="text" placeholder="Digite o nome da sua equipe:" name="Name">
                <label class="foto" for="foto-file">
                    Nenuma imagem selecionada...
                    <input  type="file" id="foto-file" name="Image">
                </label>
                
                <button type="submit">Cadastro</button>
                
                
            </form>


            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Foto</th>
                        <th>&spades;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Team team in ViewBag.Team)
                    {
                    <tr>
                        <td>@team.Id</td>
                        <td>@team.Name</td>
                        <td>
                            <img src="/img/Teams/@team.Image" alt="team @team.Image image" width="50px">
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Team" asp-action="Delete" asp-route-id="@team.Id"><img class="yellow-trash" src="~/assets/trash.png" alt=""></a> 
                        <a asp-area="" asp-controller="Team"  asp-action="Edit" asp-route-id="@team.Id"><img class="yellow-trash" src="~/assets/edit.svg" alt=""></a>
                        </td>
                    </tr>
            }

                </tbody>
            </table>
    </section>
</main>

}
</html>
