@model Player

@{
    ViewData["Title"] = "Player";
}

<!DOCTYPE html>
<html lang="pt-BR">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipes</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/jogadores.css">
</head>
@* 
@if (ViewBag.UserName == null)
{
        <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">
            Login
        </a>
}
else
{

        <form method="post" action='@Url.Action("Register")' enctype="multipart/form-data">

        <select name="PlayerTeam" required>

            @foreach (Team t in ViewBag.Team)
            {
                    <option value="@t.Id">@t.Name</option>
            }

        </select>

        <input type="text" placeholder="Name" name="Name" required>
        <input type="email" placeholder="Email" name="Email" required>
        <input type="password" placeholder="Password" name="Password" required>

        <button type="submit">Submit</button>

        </form>

        <table class="table table-striped table-responsive">
        <thead>
            <th>Team Image</th>
            <th>Player Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Id</th>
            <th>Team Name</th>
            <th>Actions</th>
        </thead>
        <tbody>

            @foreach (Player player in ViewBag.Player)
            {
                <tr>
                    <td> <img width="50px" src="/img/Teams/@player.Team.Image" alt=""></td>
                    <td>@player.PlayerId</td>
                    <td>@player.Name</td>
                    <td>@player.Email</td>  
                    <td>@player.Id</td>
                    <td>@player.Team.Name</td>
                    <td>
                        <a asp-area="" asp-controller="Player" asp-action="Delete" asp-route-id="@player.PlayerId"><button class="btn btn-danger">Delete</button></a> 
                        <a asp-area="" asp-controller="Player"  asp-action="Edit" asp-route-id="@player.PlayerId"><button class="btn btn-primary">Edit</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} *@

@if (ViewBag.UserName == null)
{
}
else{
 <main>

        <section class="container-grid cadastro-equipes">


            <form method="post" action='@Url.Action("Register")' enctype="multipart/form-data" class="frm-cad-equipe">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>
                <select class="campo-entrada" id="equipe-select" name="PlayerTeam" required>

                @foreach (Team t in ViewBag.Team)
                {
                <option value="@t.Id">@t.Name</option>
                }

                </select>

                <input class="campo-entrada" type="text" id="nome-jogador" placeholder="Digite o nome do Jogador:" name="Name" required >
                <input class="campo-entrada" type="email" id="email-jogador" placeholder="Digite o Email do Jogador:" name="Email" required >
                <input class="campo-entrada" type="password" id="senha" placeholder="Digite a Senha:" name="Password" required >
                
                <button type="submit" >Cadastrar</button>
 
            </form>

        

            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>&spades;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Player player in ViewBag.Player)
            {
                <tr>
                    <td> <img width="50px" src="/img/Teams/@player.Team.Image" alt=""></td>
                    <td>@player.PlayerId</td>
                    <td>@player.Name</td>
                    <td>@player.Email</td>  
                    <td>
                        <a asp-area="" asp-controller="Player" asp-action="Delete" asp-route-id="@player.PlayerId"><img class="yellow-trash" src="~/assets/trash.png" alt=""></a> 
                        <a asp-area="" asp-controller="Player"  asp-action="Edit" asp-route-id="@player.PlayerId"><img class="yellow-trash" src="~/assets/edit.svg" alt=""></a>
                    </td>
                </tr>
            }
                </tbody>
            </table>
        </section>
    </main>
}

</html>